<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thieleafo.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<!-- line awesome icons -->
<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
<link rel="stylesheet" th:href="@{../Estilo/Css/EstiloD.css}"
	href="../static/Estilo/Css/EstiloD.css" />

<title>Ventas por cliente</title>

</head>
<body>
	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<label for="nav-toggle" class="menu-label"> <span
			class="las la-bars"></span>
		</label>
		<div class="sidebar-menu">
			<ul>
				<li><a th:href="@{/Inicio}"><span class="las la-home"></span>
						<span>Inicio</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Usuarios}"><span class="las la-user-tie"></span>
						<span>Usuarios</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Clientes}"><span
						class="las la-handshake"></span> <span>Clientes</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Proveedores}"><span
						class="las la-cart-arrow-down"></span> <span>Proveedores</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Productos}"><span class="las la-tags"></span>
						<span>Productos</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Ventas}"><span class="las la-money-bill-alt"></span>
						<span>Ventas</span></a></li>
			</ul>
			<ul>
				<li><a class="active"><span class="las la-book"></span>
						<span>Reportes</span></a></li>
			</ul>
		</div>
	</div>

	<div class="main-content">
		<header>
			<div class="user-wrapper">
				<img
					src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg"
					width="40px" height="40px">
				<div>
					<h4 th:text="${usuarioSesion.nombre}"></h4>
					<small th:text="${usuarioSesion.usuario}"></small>
				</div>
			</div>

			<h2>Reportes</h2>

			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-btn">Cerrar Sesión</button>
			</form>

		</header>

		<main>
			<div class="sales-actions">
				<div class="card">
					<div class="card-header-centered">
						<h3>Ventas por cliente</h3>
					</div>
					<div class="card-body">
						<div class="sales-details">
							<table class="table-ventas-cliente">
								<thead>
									<tr>
										<td>Cedula cliente</td>
										<td>N° Ventas</td>
										<td>Total ventas</td>
									</tr>
								</thead>
								<tbody class="tbody-ventas-cliente">
									<tr th:each=" ventasCliente : ${ListaVentas}">
										<td th:text="${ventasCliente.getCedulaCliente()}"></td>
										<td th:text="${ventasCliente.getVentas()}"></td>
										<td th:text="${ventasCliente.getTotalVentas()}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<form class="regresar">
							<input class="btn-regresar" type="button" value="Regresar" onclick="history.back()">
						</form>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>
