<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thieleafo.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<!-- line awesome icons -->
<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
<link rel="stylesheet" th:href="@{../Estilo/Css/EstiloD.css}"
	href="../static/Estilo/Css/EstiloD.css" />

<title>Proveedores</title>

</head>
<body>
	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<label for="nav-toggle" class="menu-label"> <span
			class="las la-bars"></span>
		</label>
		<div class="sidebar-menu">
			<ul>
				<li><a th:href="@{/Inicio}"><span class="las la-home"></span>
						<span>Inicio</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Usuarios}"><span class="las la-user-tie"></span>
						<span>Usuarios</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Clientes}"><span
						class="las la-handshake"></span> <span>Clientes</span></a></li>
			</ul>
			<ul>
				<li><a class="active"><span class="las la-cart-arrow-down"></span>
						<span>Proveedores</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Productos}"><span class="las la-tags"></span>
						<span>Productos</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Ventas}"><span
						class="las la-money-bill-alt"></span> <span>Ventas</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Reportes}"><span class="las la-book"></span>
						<span>Reportes</span></a></li>
			</ul>
		</div>
	</div>

	<div class="main-content">
		<header>
			<div class="user-wrapper">
				<img
					src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg"
					width="40px" height="40px">
				<div>
					<h4 th:text="${usuarioSesion.nombre}"></h4>
					<small th:text="${usuarioSesion.usuario}"></small>
				</div>
			</div>

			<h2>Proveedores</h2>

			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-btn">Cerrar Sesión</button>
			</form>

		</header>

		<main>
			<div th:if="${param.agregado}" class="action-informer">
				<p>
					El proveedor ha sido <b>agregado</b> correctamente
				</p>
			</div>

			<div th:if="${param.existente}" class="action-informer">
				El proveedor con el Nit <b th:text="${param.nit}"></b> ya existe
			</div>
			<div th:if="${param.editado}" class="action-informer">
				El proveedor ha sido <b>editado</b> correctamente
			</div>

			<div th:if="${param.eliminado}" class="action-informer">
				El proveedor ha sido <b>eliminado</b> del sistema
			</div>
			<div class="user-actions">
				<div class="card">
					<div class="card-header-centered">
						<h3>Buscar Proveedor</h3>
					</div>
					<div class="card-body">
						<form th:action="@{/BuscarProveedor}" class="card-search-bar">
							<input name="nit" type="number" placeholder="Nit del proveedor"
								required>
							<button>Buscar</button>
						</form>
						<div th:if="${param.buscar}">
							<div th:if="${param.resultado}" class="result-grid">
								<img
									src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg">
								<div class="result-data">
									<span> <small>Nit</small>
										<p th:text="${resultadoBusqueda.getNit()}"></p>
									</span> <span> <small>Nombre</small>
										<p th:text="${resultadoBusqueda.getNombre()}"></p>
									</span> <span> <small>Dirección</small>
										<p th:text="${resultadoBusqueda.getDireccion()}"></p>
									</span> <span> <small>Telefono</small>
										<p th:text="${resultadoBusqueda.getTelefono()}"></p>
									</span> </span> <span> <small>Ciudad</small>
										<p th:text="${resultadoBusqueda.getCiudad()}"></p>
									</span>
									<div class="options-container">
										<form th:action="@{/EditarProveedor}" method="get">
											<button type="submit" name="nit"
												th:value="${resultadoBusqueda.getNit()}" class="edit-button">Editar</button>
										</form>
										<form th:action="@{/EliminarProveedor}" method="get">
											<button type="submit" name="nit"
												th:value="${resultadoBusqueda.getNit()}"
												class="delete-button">Eliminar</button>
										</form>
									</div>
								</div>

							</div>
							<div th:unless="${param.resultado}" class="result-logger">
								<p>No se hallaron resultados</p>
							</div>

						</div>
						<div th:unless="${param.buscar}" class="result-logger">
							<p>No se han realizado busquedas</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header-centered">
						<h3>Agregar Proveedor</h3>
					</div>

					<div class="card-body">
						<form class="add-user-form" th:action="@{/AgregarProveedor}"
							method="get">
							<input name="nit" type="number" placeholder="Nit" required>
							<input name="nombre" type="text" placeholder="Nombre" required>
							<input name="direccion" type="text" placeholder="Dirección" required> 
							<input name="telefono" type="number" placeholder="Teléfono" required> 
							<input name="ciudad" type="text" placeholder="Ciudad" required>
							<button type="submit">Agregar</button>
						</form>
					</div>
				</div>
			</div>

			<div class="users-table">
				<div class="card">
					<div class="card-header-centered">
						<h3>Lista De Proveedores</h3>
					</div>
					<div class="card-body">
						<div class="users-table">
							<table>
								<thead>
									<tr>
										<td>Nit</td>
										<td>Nombre</td>
										<td>Direccion</td>
										<td>Telefono</td>
										<td>Ciudad</td>
										<td>Opciones</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each=" proveedor : ${ListaProveedores}">
										<td th:text="${proveedor.nit}"></td>
										<td th:text="${proveedor.nombre}"></td>
										<td th:text="${proveedor.direccion}"></td>
										<td th:text="${proveedor.telefono}"></td>
										<td th:text="${proveedor.ciudad}"></td>
										<td class="listed-options-container">
											<form th:action="@{/EditarProveedor}" method="get">
												<button type="submit" name="nit" th:value="${proveedor.nit}"
													class="listed-edit-button">Editar</button>
											</form>
											<form th:action="@{/EliminarProveedor}" method="get">
												<button type="submit" name="nit" th:value="${proveedor.nit}"
													class="listed-delete-button">Elminar</button>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>