<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thieleafo.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<!-- line awesome icons -->
<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

<link rel="stylesheet" th:href="@{../Estilo/Css/EstiloD.css}"
	href="../static/Estilo/Css/EstiloD.css" />

<link rel="stylesheet" th:href="@{../Estilo/Css/EstiloD.css}"
	href="../static/Estilo/Css/EstiloD.css" />

<title>Inicio</title>

</head>
<body>
	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<label for="nav-toggle" class="menu-label"> <span
			class="las la-bars"></span>
		</label>
		<div class="sidebar-menu">
			<ul>
				<li><a class="active"><span class="las la-home"></span>
						<span>Inicio</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Usuarios}"><span class="las la-user-tie"></span>
						<span>Usuarios</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Clientes}"><span
						class="las la-handshake"></span> <span>Clientes</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Proveedores}"><span class="las la-cart-arrow-down"></span>
						<span>Proveedores</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Productos}"><span class="las la-tags"></span>
						<span>Productos</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Ventas}"><span
						class="las la-money-bill-alt"></span> <span>Ventas</span></a></li>
			</ul>
			<ul>
				<li><a th:href="@{/Reportes}"><span class="las la-book"></span>
						<span>Reportes</span></a></li>
			</ul>
		</div>
	</div>

	<div class="main-content">
		<header>
			<div class="user-wrapper">
				<img
					src="https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg"
					width="40px" height="40px">
				<div>
					<h4 th:text="${usuarioSesion.nombre}"></h4>
					<small th:text="${usuarioSesion.usuario}"></small>
				</div>
			</div>

			<h2>
				<!-- <div class="header-title"> -->
				Inicio
				<!-- </div> -->
			</h2>

			<form th:action="@{/logout}" method="post">
				<button type="submit" class="logout-btn">Cerrar Sesión</button>
			</form>

		</header>
		<main>
			<div class="single-card">
				<p>Bienvenid@, para ir al módulo de gestión de usuarios por
					favor haga click en la opción "Usuarios" del menú lateral.</p>
			</div>
			<div class="single-card">
				<p>Este es el Sprint 2 del proyecto solicitado para el ciclo 3
					de formación con la Univeridad El Bosque vía MinTic.</p>
				<b>Integrantes del grupo 02</b>

				<ul>
					<li>Carlos Hurtátiz</li>
					<li>Jeisson León</li>
					<li>Juan Herrera</li>
					<li>Laura Hernandez</li>
					<li>Sidfrid León</li>
				</ul>
			</div>
		</main>
	</div>
</html>